version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: npm test
  build:
    executor:
      name: node/default
    steps:
      - checkout
      - run: npm run build
      - run: npm run netlify:deploy
workflows:
  build-and-test:
    jobs:
      - test
      - build:
          requires:
            - test
          filters:
            branches:
              only:
                - master
