version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  test:
    executor:
      name: node/default
    steps:
      - checkout
      - run: npm install
      - run: npm test
  build:
    executor:
      name: node/default
    steps:
      - node/with-cache:
          steps:
            - run: npm run build
            - run: npm run netlify:deploy
workflows:
  test:
    filters:
      branches:
        ignore:
          - master
    jobs:
      - test

  build-and-test:
    filters:
      branches:
        only:
          - master
    jobs:
      - test
      - build:
          requires:
            - test
