.sliders {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.bars {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: end; */
  align-items: center;
  height: 100%;
  transform: rotate(-90deg);
}

.content {
  display: flex;
  justify-content: center;
  height: 100%;
}
