.bars {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: center; */
  align-items: center;
  transform: rotate(-90deg);
}

.content {
  display: flex;
  justify-content: center;
}
