.sliders {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.controls {
  background: lightgrey;
  width: 100vw;
  text-align: center;
  padding-bottom: 1rem;
}

.bars {
  padding-top: 5rem;
}

.content {
  background: black;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
