.bars {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100vh;
  transform: rotate(-90deg);
}

.content {
  display: flex;
  justify-content: center;
}
